*{
  box-sizing: border-box;
  margin: 0;
  padding: 0 
}
body{
  font-family: Arial, sans-serif;
  margin: 1rem;
  padding: 1rem; 
  color: #151515
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-container .card{
  width: 300px;
  padding: 1rem;
  margin: .8rem;
  background-color: #151515;
  color: aqua;
  border-radius: 1rem;
}
.card-container .card:hover{
  color: #151515;
  background-color: aqua;
  box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, .5);
  transition: all ease-in-out .6s;
}
.btn{
  background: transparent;
  border: 0;
}